<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<div id='app'>
		<input type="text" value="" v-model='input' />
		<input type="button" value="发表" @click='report' />
		<ul>
			<li v-for='(d,i) in cont'>
				<span v-for='(d,i) in cont'>{{i}}</span>
				<span v-for='(d,i) in input'>{{d}}</span>
				<input type="button" :value="d" v-for='(d,i) in btnCont' />
				<!-- <input type="button" value="下移" />
				<input type="button" value="删除" />
				<input type="button" value="编辑" /> -->
			</li>
			<!-- <li>
				<span contenteditable="true">11111111</span><span></span>
				<input type="button" value="上移" />
				<input type="button" value="下移" />
				<input type="button" value="删除" />
				<input type="button" value="编辑" />
			</li> -->
		</ul>
	</div>
</body>
<script src="../js/vue.js"></script>
<script>
	//arr.splice()来实现上移下移
	//arr:[{content:1111,edit:true},{content:222222,edit:false}]
	let vm = new Vue({
		el: '#app',
		data: {
			btnCont: ["上移", "下移", "删除", "编辑"],
			input: [],
			cont: [{},{}]
		},
		methods: {
			report() {
				this.cont.push(this.input);
			}
		},
	})
</script>



</html>